In [ ]:
## !pip install pandas
import pandas as pd
import numpy as np 

traindf = pd.read_csv('/home/charlemagne/workspace/presentation_algo_GMM/dev/data/train.csv').set_index('PassengerId')
testdf = pd.read_csv('/home/charlemagne/workspace/presentation_algo_GMM/dev/data/test.csv').set_index('PassengerId')

df = pd.concat([traindf, testdf], axis=0, sort=False)
df['Title'] = df.Name.str.split(',').str[1].str.split('.').str[0].str.strip()
df['IsWomanOrBoy'] = ((df.Title == 'Master') | (df.Sex == 'female'))
df['LastName'] = df.Name.str.split(',').str[0]
family = df.groupby(df.LastName).Survived
df['WomanOrBoyCount'] = family.transform(lambda s: s[df.IsWomanOrBoy].fillna(0).count())
#df['WomanOrBoyCount'] = df.mask(df.IsWomanOrBoy, df.WomanOrBoyCount - 1, axis=0)
# Mettez à jour la colonne 'WomanOrBoyCount' uniquement pour les lignes où la condition est vraie
df.loc[df.IsWomanOrBoy, 'WomanOrBoyCount'] = df['WomanOrBoyCount'] - 1
df['FamilySurvivedCount'] = family.transform(lambda s: s[df.IsWomanOrBoy].fillna(0).sum())
#df['FamilySurvivedCount'] = df.mask(df.IsWomanOrBoy, df.FamilySurvivedCount - df.Survived.fillna(0), axis=0)
# Mettez à jour la colonne 'FamilySurvivedCount' uniquement pour les lignes où la condition est vraie
df.loc[df.IsWomanOrBoy, 'FamilySurvivedCount'] = df['FamilySurvivedCount'] - df['Survived'].fillna(0)
df['WomanOrBoySurvived'] = df.FamilySurvivedCount / df.WomanOrBoyCount.replace(0, np.nan)
df.WomanOrBoyCount = df.WomanOrBoyCount.replace(np.nan, 0)
df['Alone'] = (df.WomanOrBoyCount == 0)
train_y = df.Survived.loc[traindf.index]
df2 = pd.concat([df.WomanOrBoySurvived.fillna(0), df.Alone, df.Sex.replace({'female': 0, 'male': 1})], axis=1)
test_x = df2.loc[testdf.index]

# The one line of the code for prediction : LB = 0.83253 (Titanic Top 3%) 
y_pred_top3 = (((test_x.WomanOrBoySurvived <= 0.238) & (test_x.Sex < 0.5) & (test_x.Alone > 0.5)) | \
          ((test_x.WomanOrBoySurvived > 0.238) & \
           ~((test_x.WomanOrBoySurvived > 0.55) & (test_x.WomanOrBoySurvived <= 0.633)))).astype(int)

# Saving the result
pd.DataFrame({'Survived': y_pred_top3}, \
             index=testdf.index).reset_index().to_csv('survived_top3.csv', index=False)
print('Mean =', y_pred_top3.mean(), ' Std =', y_pred_top3.std())

PREPARING TO PREDICTION (INCLUDING FE)

In [2]:
# Utilisez pip pour installer les bibliothèques
!pip install scikit-learn graphviz matplotlib scipy numpy

from sklearn import cluster, datasets, mixture
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.neighbors import kneighbors_graph
from itertools import cycle, islice
from scipy.spatial.distance import cosine

import time
import graphviz
import matplotlib.pyplot as plt
print(__doc__)

import warnings
warnings.filterwarnings("ignore")


np.random.seed(0)

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in /home/charlemagne/.local/lib/python3.10/site-packages (1.3.2)
Requirement already satisfied: graphviz in /home/charlemagne/.local/lib/python3.10/site-packages (0.20.1)
Requirement already satisfied: matplotlib in /home/charlemagne/.local/lib/python3.10/site-packages (3.8.2)
Requirement already satisfied: scipy in /home/charlemagne/.local/lib/python3.10/site-packages (1.11.4)
Requirement already satisfied: numpy in /home/charlemagne/.local/lib/python3.10/site-packages (1.26.3)
Requirement already satisfied: joblib>=1.1.1 in /home/charlemagne/.local/lib/python3.10/site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/charlemagne/.local/lib/python3.10/site-packages (from scikit-learn) (3.2.0)
Requirement already satisfied: cycler>=0.10 in /home/charlemagne/.local/lib/python3.10/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: contourpy>=1.0.1 in /home/charlemagne/.local/lib/python3.10/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/charlemagne/.local/lib/python3.10/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: pillow>=8 in /usr/lib/python3/dist-packages (from matplotlib) (9.0.1)
Requirement already satisfied: packaging>=20.0 in /usr/lib/python3/dist-packages (from matplotlib) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in /home/charlemagne/.local/lib/python3.10/site-packages (from matplotlib) (4.47.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/lib/python3/dist-packages (from matplotlib) (2.4.7)
Requirement already satisfied: python-dateutil>=2.7 in /home/charlemagne/.local/lib/python3.10/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Automatically created module for IPython interactive environment

In [3]:
df['Title'] = df['Title'].replace('Ms','Miss')
df['Title'] = df['Title'].replace('Mlle','Miss')
df['Title'] = df['Title'].replace('Mme','Mrs')

In [4]:
df['Embarked'] = df['Embarked'].fillna('S')

In [5]:
med_fare = df.groupby(['Pclass', 'Parch', 'SibSp']).Fare.median()[3][0][0]
df['Fare'] = df['Fare'].fillna(med_fare)

In [6]:
df['Deck'] = df['Cabin'].apply(lambda s: s[0] if pd.notnull(s) else 'M')
df.loc[(df['Deck'] == 'T'), 'Deck'] = 'A'

In [8]:
# Réinitialisez l'index du DataFrame après groupby
df_grouped = df.groupby(['Sex', 'Pclass', 'Title'])['Age'].apply(lambda x: x.fillna(x.median())).reset_index()

# Ajoutez la colonne 'Age' au DataFrame d'origine en utilisant la nouvelle index
df['Age'] = df_grouped['Age']

In [9]:
df['Family_Size'] = df['SibSp'] + df['Parch'] + 1

In [11]:
pd.set_option('display.max_columns', 100)
traindf.head(3)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [12]:
train_y = df.Survived.loc[traindf.index]

In [13]:
cols_to_drop = ['Name','Ticket','Cabin','Survived']
df = df.drop(cols_to_drop, axis=1)

In [14]:
numerics = ['int8', 'int16', 'int32', 'int64', 'float16', 'float32', 'float64']
categorical_columns = []
features = df.columns.values.tolist()
for col in features:
    if df[col].dtype in numerics: continue
    categorical_columns.append(col)
categorical_columns

['Sex', 'Embarked', 'Title', 'IsWomanOrBoy', 'LastName', 'Alone', 'Deck']

In [15]:


for col in categorical_columns:
    if col in df.columns:
        le = LabelEncoder()
        le.fit(list(df[col].astype(str).values))
        df[col] = le.transform(list(df[col].astype(str).values))

In [16]:
train_x_all, test_x_all = df.loc[traindf.index], df.loc[testdf.index]
train_x_all.head(3)

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Title,IsWomanOrBoy,LastName,WomanOrBoyCount,FamilySurvivedCount,WomanOrBoySurvived,Alone,Deck,Family_Size
PassengerId,,,,,,,,,,,,,,,,
1,3,1,49.0,1,0,7.2500,2,10,0,100,0,0.0,NaN,1,7,2
2,1,0,48.0,1,0,71.2833,0,11,1,182,0,0.0,NaN,1,2,2
3,3,0,58.0,0,0,7.9250,2,9,1,329,0,0.0,NaN,1,7,1